
		ul { list-style-type: none;padding: 0px;margin: 0px; }
		ul li { margin: 5px 0px; }
		.btn {
			float: right;
			background-color: #00A859;
			color: white;
		}
		.badge{
			background-color: black;
		}
		.panel-primary>.panel-heading{
			background-color: #00A859;
			border-color: #00A859;
		}
		.jumbotron{
			width: 100%;
		}
